.infiniteCarousel {
	width: 860px;
	position: relative;
	height: 110px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
}

.infiniteCarousel .wrapper {
  width: 780px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  min-height: 118px;
  margin: 0px 40px;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul a img {
  border: 1px solid #000000;
}

.infiniteCarousel .wrapper ul {
  width: 99999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
  padding: 10px;
  height: 110px;
  width: 110px;
}

.infiniteCarousel ul li a img {
  display:block;
}

.infiniteCarousel ul li a:hover img {
	border:2px solid #000;
}
.infiniteCarousel ul li a img.sel {
	border:4px solid #3d727e;
}

.infiniteCarousel .arrow {
  display: block;
  height: 0;
  width: 37px;
  background: url(../images/arrow.png) no-repeat 0 0;
  position: absolute;
  top: 37px;
  padding-top:36px;
  overflow:hidden;
  cursor:pointer;
}

.infiniteCarousel .forward {
  background-position: 0 0;
  right: 0;
}

.infiniteCarousel .back {
  background-position: 0 -72px;
  left: 0;
}

.infiniteCarousel .forward:hover {
  background-position: 0 -36px;
}

.infiniteCarousel .back:hover {
  background-position: 0 -108px;
}
